@{
    ViewBag.Title = "About me";
    ViewBag.Message = "Here you can learn more about me :)";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>
<br>

<section>
    <header>
        <h3>I'm a Game Developer</h3>
    </header>
    <p>
        The most important part in game development is <strong>inspiration</strong>.
        I got inspired by games like <em>Super Mario</em>, <em>Counter Strike 1.6</em>, <em>Mortal Kombat</em>,
        <em>World of Warcraft</em> etc. when I was still a little kid and thus my gaming life began.
        I've been playing games ever since and never got tired of it.
        At the age of 14 I started going into computer science and coding became one of my primary activities.
        Not so long afterwards... I wanted to make games <strong>myself</strong>! :)
    </p>
</section>

<section>
    <header>
        <h3>How it all started...</h3>
    </header>
    <p>
        I started learning all programing languages which are necessary for a game developer:
        C++, C#, Lua and Python (for scripting) and even Java because I wanted to make a <em>Minecraft</em>
        mode. After building some games from scratch (a.k.a. creating your own game engine with different APIs like SDL and SFML),
        I decided to give game engines a try and Unity was the first in my list.
        I was really surprised at how simple everything was, compared to builing it on your own.
        And thus I created my latest game - <strong style="color: orange">Sunnyland</strong>.
    </p>
</section>